
@{ 
    Layout = "_LayoutAdmin";
}
<style>
    input[type="file"] {
        display: none;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="card card-secondary w-100">
                    <div class="card-header">
                        <h3 class="card-title">Categorias</h3>

                        @*<div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>*@
                    </div>
                    <div class="card-body">
                        <form role="form">
                            <div class="row">

                                <div class="col-4" style="margin-bottom: 15px;">
                                    <div class="card-body text-center upload-image-div" id="">
                                        <div class="upload-image-gray">
                                            <a class="btn btn-default btn-lg upload-btn AddEditCategorybtn" data-toggle="modal" asp-controller="Category" asp-action="AddEditCategory" data-target="#modal-AddEditCategory">
                                                <i class="fas fa-plus">
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                @foreach (var cat_ in ViewBag.Category as ICollection<Ecommerce_MVC_Core.Models.Admin.Category>)
                                {

                                    <div class="col-4" style="margin-bottom: 15px;">
                                        <div class="card-body text-center upload-image-div" id="" style="background-image:url(@cat_.Image_Path);">
                                            @if (!cat_.Active)
                                            {
                                                <div class="ribbon-wrapper ribbon-lg">
                                                    <div class="ribbon bg-danger text-sm">
                                                        DESATIVADO
                                                    </div>
                                                </div>
                                            }

                                            <div class="upload-image-gray">
                                                <a class="btn btn-default btn-lg upload-btn AddEditCategorybtn" data-toggle="modal" asp-controller="Category" asp-action="AddEditCategory" data-target="#modal-AddEditCategory" asp-route-id="@cat_.Id">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                }
                            </div>
                            <div class="form-group">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card-secondary w-100">
                    <div class="card-header">
                        <h3 class="card-title">Páginas</h3>

                        @*<div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>*@
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="PagesTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th data-orderable="false" width="1"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-AddEditCategory", AreaLabeledId = "AddEditCategory", Size = ModalSize.Large })

<script>

    TableLaod();
    function TableLaod() {

        $("#PagesTable").DataTable({
            "destroy": true,
            "searching": false,
            "processing": false, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,

            "ajax": {
                "url": "/Admin/LoadDataPages",
                "type": "POST",
                "datatype": "json"
            },

            "columnDefs":
                [{
                    "targets": [0],
                    "className": 'text-center'
                }],

            "columns": [

                { "data": 'name', "name": "Nome", "autoWidth": true },

                {
                    "render": function (data, type, full, meta) {
                        debugger;
                        return '<a class="btn btn-sm btn-table btn-outline-info "  href="/Admin/PageDetails/' + full.id + '" type="button" >'
                            + '<i class="fas fa-edit"></i>'
                            + '</a>'
                    }
                },

            ]

        });
    }


    $('.AddEditCategorybtn').on('click', function (e) {
        e.preventDefault();
        $('#modal-AddEditCategory').addClass("show");
    })
</script>