
@{ ViewData["Title"] = "Index"; }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card card-secondary w-100">
                <div class="card-header">
                    <h3 class="card-title">Banner</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-body text-center " style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <a class="btn btn-default  btn-lg" href="#" style="border-radius: 50%;background-color: transparent;color: white;width:91px;height:91px;padding-top: 30px;">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                </div>


                                <div class="card-body text-center" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px;margin-top:20px">
                                    <a class="btn btn-default  btn-lg" href="#" style="border-radius: 50%;background-color: transparent;color: white;width:91px;height:91px;padding-top: 30px;">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                </div>

                                <div class="card-body text-center " style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px;margin-top:20px">
                                    <a class="btn btn-default  btn-lg" href="#" style="border-radius: 50%;background-color: transparent;color: white;width:91px;height:91px;padding-top: 30px;">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>

        </div>
        <div class="row">
            <div class="card card-secondary w-100">
                <div class="card-header">
                    <h3 class="card-title">Tipo de Produtos</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-3">
                                <div class="card-body text-center" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <a class="btn btn-default  btn-lg" href="#" style="border-radius: 50%;background-color: transparent;color: white;width:91px;height:91px;padding-top: 30px;">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="card-body text-center" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <a class="btn btn-default  btn-lg" href="#" style="border-radius: 50%;background-color: transparent;color: white;width:91px;height:91px;padding-top: 30px;">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="card-body text-center" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <a class="btn btn-default  btn-lg" href="#" style="border-radius: 50%;background-color: transparent;color: white;width:91px;height:91px;padding-top: 30px;">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="card-body text-center" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <a class="btn btn-default  btn-lg" href="#" style="border-radius: 50%;background-color: transparent;color: white;width:91px;height:91px;padding-top: 30px;">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                </div>
                            </div>
                 

                        </div>

                        <div class="form-group">
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>

        </div>
        <div class="row">
            <div class="card card-secondary w-100">
                <div class="card-header">
                    <h3 class="card-title">Banner + Video YouTube</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-body text-center" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <a class="btn btn-default  btn-lg" href="#" style="border-radius: 50%;background-color: transparent;color: white;width:91px;height:91px;padding-top: 30px;">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="row">
            <div class="card card-secondary w-100">
                <div class="card-header">
                    <h3 class="card-title">3 Imagens</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form role="form">
                        <div class="row">

                            <div class="col-4">
                                <div class="card-body text-center" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <a class="btn btn-default  btn-lg" href="#" style="border-radius: 50%;background-color: transparent;color: white;width:91px;height:91px;padding-top: 30px;">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-body text-center" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <a class="btn btn-default  btn-lg" href="#" style="border-radius: 50%;background-color: transparent;color: white;width:91px;height:91px;padding-top: 30px;">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-body text-center" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <a class="btn btn-default  btn-lg" href="#" style="border-radius: 50%;background-color: transparent;color: white;width:91px;height:91px;padding-top: 30px;">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="row">
            <div class="card card-secondary w-100">
                <div class="card-header">
                    <h3 class="card-title">Fotos do Instagram</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-2">
                                <div class="card-body box-profile" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <div class="text-center">

                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card-body box-profile" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <div class="text-center">

                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card-body box-profile" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <div class="text-center">

                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card-body box-profile" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <div class="text-center">

                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card-body box-profile" style="height: 300px;background-color: rgba(95, 95, 95, 0.59);border-radius:8px">
                                    <div class="text-center">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>

</section>