@model Ecommerce_MVC_Core.BootstrapModal.BootstrapModel



<div class="modal fade" id="@Model.ID">
    <div class="modal-dialog @Model.ModalSizeClass">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>