@model Ecommerce_MVC_Core.BootstrapModal.ModalFooter


<div class="modal-footer">
    @*<button data-dismiss="modal" id="@Model.CancelButtonID" class="btn btn-default" type="button">@Model.CancelButtonText</button>*@
    @if (!Model.OnlyCancelButton)
    {
        <button class="btn btn-success" id="submit" type="submit">
            @Model.SubmitButtonText
        </button>}
</div>
<script>



    $(document).on("submit", "form", function (event) {
        event.preventDefault();
        doAjax("/@Model.urlPOST", "@Model.IdEntity", "#@Model.IdForm")
        CloseModal();
    });



</script>