@model Ecommerce_MVC_Core.BootstrapModal.ModalFooter


<div class="modal-footer">
    @*<button data-dismiss="modal" id="@Model.CancelButtonID" class="btn btn-default" type="button">@Model.CancelButtonText</button>*@
    @if (!Model.OnlyCancelButton)
    {
        <button class="btn btn-success" id="submit" type="submit">
            @Model.SubmitButtonText
        </button>}
</div>
<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
    });


    $(document).on("submit", "form", function (event) {
        event.preventDefault();
        doAjax();
        $("#@Model.IdForm").closest('.modal').removeClass("show");
        $("body").removeClass("modal-open");
        $(".modal-backdrop").remove();
    });

    async function doAjax(args) {
        event.preventDefault();
        debugger;
        $.post("/@Model.urlPOST", {  id: "@Model.IdEntity", model: $("#@Model.IdForm").serializeFormJSON()  }, function (htmlresponse) {
            if (htmlresponse != "error") {
                Toast.fire({
                    icon: 'success',
                    title: htmlresponse
                })
            }
            else {
                Toast.fire({
                    icon: 'error',
                    title: ''
                })
            }
        });
    }

</script>