

<div class="card card-secondary w-100">
    <div class="card-header">
        <h3 class="card-title">Tamanhos</h3>
    </div>
    <div class="card-body">

        <div style="margin-top: 70px">
            <table id="SizeTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Tamanho</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.ProductSize as ICollection<Ecommerce_MVC_Core.Models.Admin.ProductSize>)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Size)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>






<script>


    $('#SizeTable').DataTable({
        "paging": true,

        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "responsive": true,
    });



    $('#AddColortbtn').on('click', function (e) {
        e.preventDefault();
        $('#modal-AddColor').addClass("show");
    })
</script>
