@{
    Layout = "_LayoutAdmin";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card card-secondary w-100">
                    <div class="card-header">
                        <h3 class="card-title">Cor</h3>
                    </div>
                    <div class="card-body">
                        <a data-toggle="modal" asp-controller="color" asp-action="AddColor" data-target="#modal-AddColor" id="AddColortbtn" style="float:right; margin-right: 2%;" class="btn btn-table btn-outline-secondary btn-md">
                            <i class="fas fa-plus"></i>
                        </a>
                        <div style="margin-top: 70px">
                            <table id="colorTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Cor</th>
                                        <th data-orderable="false" width="1"></th>

                                    </tr>
                                </thead>
                                @*<tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Color)
                                                </td>
                                                <td>
                                                    <span class=""><i class="fas fa-square" style="color:@item.Color"></i></span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                @await Html.PartialAsync("/Views/ProductSize/Index.cshtml")
            </div>
        </div>
    </div>
</section>



@Html.Partial("_Modal", new BootstrapModel { ID = "modal-AddColor", AreaLabeledId = "AddColor", Size = ModalSize.Small })

<script>

    TableLaod();
    function TableLaod() {

        $("#colorTable").DataTable({
            "destroy": true,
            "searching": false,
            "processing": false, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            "ajax": {
                "url": "/Color/LoadDataColor",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "className": 'text-center'
                },
                {
                    "targets": [1],
                    "className": 'text-center'
                },],
            "columns": [

                { "data": 'color', "name": "Cor", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) { return '<span class=""><i class="fas fa-square" style="color:' + full.color + '"></i></span>' }
                },
            ]
        });

        $("#SizeTable").DataTable({
            "destroy": true,
            "searching": false,
            "processing": false, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            "ajax": {
                "url": "/Color/LoadDataSizes",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "className": 'text-center'
                }],
            "columns": [

                { "data": 'size', "name": "Tamanho", "autoWidth": true },

            ]
        });
    }

    $('#AddColortbtn').on('click', function (e) {
        e.preventDefault();
        $('#modal-AddColor').addClass("show");
    })
</script>
